# This file is based on v0.0.6 of the gitignore template for Counsyl
# automation library repos from https://github.counsyl.com/automation/boilerplate/
#
# Before editing this file, consider updating the template instead, or removing
# this comment to prevent future template updates from being propagated here.
#

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Dev environment leftovers
.env/
.venv/


# End of boilerplate template. Automatic updates will leave lines below intact.
# Repo specific ignore patterns can be added here.

